body {
  background-color: darkgray;
  margin: 0;
  padding: 0;
  margin-top: 4em;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 3em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(81, 81, 81);
  color: whitesmoke;
}

h1 {
  align-items: center;
  width: fit-content;
  font-size: 1.4em;
  margin: 0;
  padding: 0.5em;
  color: inherit;
}

nav ul {
  flex: 1 1 0;
  max-width: 45em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  color: inherit;
  margin-left: 1em;
  margin-right: 1em;
}

nav a {
  text-decoration: none;
  color: inherit;
}

canvas {
  display: block;
  margin: auto;
  background-color: lightgray;
  border: 1px solid black;
  width: 90%;
  max-width: 600px;
  aspect-ratio: 1.5;
}

.ctrl-container {
  width: 600px;
  max-width: 90%;
  margin: 1em auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0.5em;
}

button {
  padding: 0.25em 0.5em;
  min-width: 6em;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 0.5em;
  padding: 0.5em;
}

form fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 25em;
  height: 18em;
  min-width: 20em;
  flex: 1 1 0;
  margin: auto;
}

.inp-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.inp-container label {
  flex: 0 1 0;
  min-width: 7em;
}

@media (max-width: 42em) {
  h1 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    width: 1px;
  }
}
